<!doctype html>
{% load static %}

<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
    <title>Home Page</title>

</head>

<body>

    <section class="wrapper">

      <div class="container">
        <div class="row">
          <div class="col text-center mb-5">
             <h1 class="display-4 font-weight-bolder">Home Page</h1>
              <p class="lead"> This is the landing page to choose the App you want to launch </p>
          </div>
        </div>


      <div class="row">

         <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
             <div class="card text-dark card-has-bg click-col" style="background-image:url('../static/images/img1.jpg'); background-size:cover;">
                <div class="card-img-overlay d-flex flex-column">
                 <div class="card-body">
                    <small class="card-meta mb-2">App 1</small>
                    <h4 class="card-title mt-0 ">
                        <a class="text-dark" href="{% url 'index' %}">NETWORK CONFIGURATION MANAGEMENT</a>
                    </h4>
                  </div>
                  <div class="card-footer">
                   <div class="media">
                      <div class="media-body">
                        <h6 class="my-0 text-dark d-block">App Description</h6>
                         <small>...............</small>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
     </div>

      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-dark card-has-bg click-col" style="background-image:url('../static/images/img2.jpg'); background-size:cover;">
            <div class="card-img-overlay d-flex flex-column">
             <div class="card-body">
                <small class="card-meta mb-2">App 2</small>
                <h4 class="card-title mt-0 ">
                    <a class="text-dark" href="">NETOPS TOOLS</a>
                </h4>
              </div>
              <div class="card-footer">
               <div class="media">
                  <div class="media-body">
                    <h6 class="my-0 text-dark d-block">App Description</h6>
                      <small>...............</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-dark card-has-bg click-col" style="background-image:url('../static/images/img3.jpg'); background-size:cover;">
            <div class="card-img-overlay d-flex flex-column">
             <div class="card-body">
                <small class="card-meta mb-2">App 3</small>
                <h4 class="card-title mt-0 "><a class="text-dark" href="">NETWORK & IA</a></h4>
              </div>
              <div class="card-footer">
               <div class="media">
                  <div class="media-body">
                    <h6 class="my-0 text-dark d-block">App Description</h6>
                      <small>...............</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    </div>
    </section>


</body>
</html>