<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The list of buildings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<style>

    .card {
        margin-right: 20px;
    }

    .section1{
        background-color:white;
        text-align:center;
    }

    /* Style for the Add button */
    .add-button {
        border: none;
        background-color: #3f51b5;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    /* Style for the Add button on hover */
    .add-button:hover {
        background-color: #2c3e50;
    }

    h2{
        text-align:center;
    }

</style>
<body>

    {% include 'menu.html' %}

    <h2 class="mt-5"> Boulogne Floors </h2>
    <section class=" section1 container p-4 m-auto mt-5">

        <!-- Add button -->
        <button class="add-button" onclick="showAddForm()">+ Add</button>

        <!-- Table of Boulogne Floors -->
        <table class="table tablo">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Boulogne Floors Names</th>
              <th scope="col">Link</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>BB-Basement</td>
              <td><a href="{% url 'boulogne_details' %}"><p class="card-text">Basement</p></a></td>
              <td>
                  <img width="30" height="30" src="https://img.icons8.com/material-outlined/24/filled-trash.png" alt="filled-trash"/> &nbsp;&nbsp;
                  <img width="30" height="30" src="https://img.icons8.com/ios/50/edit--v1.png" alt="edit--v1"/>
              </td>
            </tr>

            <tr>
              <th scope="row">2</th>
              <td>BB-Parcking</td>
              <td><a href="{% url 'boulogne_details' %}"><p class="card-text">Parcking</p></a></td>
              <td>
                  <img width="30" height="30" src="https://img.icons8.com/material-outlined/24/filled-trash.png" alt="filled-trash"/> &nbsp;&nbsp;
                  <img width="30" height="30" src="https://img.icons8.com/ios/50/edit--v1.png" alt="edit--v1"/>
              </td>
            </tr>

            <tr>
              <th scope="row">3</th>
              <td>BB-Ground-floor</td>
              <td><a href="{% url 'boulogne_details' %}"><p class="card-text">Ground-floor</p></a></td>
              <td>
                  <img width="30" height="30" src="https://img.icons8.com/material-outlined/24/filled-trash.png" alt="filled-trash"/> &nbsp;&nbsp;
                  <img width="30" height="30" src="https://img.icons8.com/ios/50/edit--v1.png" alt="edit--v1"/>
              </td>
            </tr>

             <tr>
              <th scope="row">4</th>
              <td>BB-First-floor</td>
              <td><a href="{% url 'boulogne_details' %}"><p class="card-text">First-floor</p></a></td>
              <td>
                  <img width="30" height="30" src="https://img.icons8.com/material-outlined/24/filled-trash.png" alt="filled-trash"/> &nbsp;&nbsp;
                  <img width="30" height="30" src="https://img.icons8.com/ios/50/edit--v1.png" alt="edit--v1"/>
              </td>
            </tr>

             <tr>
              <th scope="row">5</th>
              <td>BB-Second-floor</td>
              <td><a href="{% url 'boulogne_details' %}"><p class="card-text">Second-floor</p></a></td>
              <td>
                  <img width="30" height="30" src="https://img.icons8.com/material-outlined/24/filled-trash.png" alt="filled-trash"/> &nbsp;&nbsp;
                  <img width="30" height="30" src="https://img.icons8.com/ios/50/edit--v1.png" alt="edit--v1"/>
              </td>
            </tr>

             <tr>
              <th scope="row">6</th>
              <td>BB-Third-floor</td>
              <td><a href="{% url 'boulogne_details' %}"><p class="card-text">Third-floor</p></a></td>
              <td>
                  <img width="30" height="30" src="https://img.icons8.com/material-outlined/24/filled-trash.png" alt="filled-trash"/> &nbsp;&nbsp;
                  <img width="30" height="30" src="https://img.icons8.com/ios/50/edit--v1.png" alt="edit--v1"/>
              </td>
            </tr>

            <tr>
              <th scope="row">7</th>
              <td>BB-Fourth-floor</td>
              <td><a href="{% url 'boulogne_details' %}"><p class="card-text">Fourth-floor</p></a></td>
              <td>
                  <img width="30" height="30" src="https://img.icons8.com/material-outlined/24/filled-trash.png" alt="filled-trash"/> &nbsp;&nbsp;
                  <img width="30" height="30" src="https://img.icons8.com/ios/50/edit--v1.png" alt="edit--v1"/>
              </td>
            </tr>


            <tr>
              <th scope="row">8</th>
              <td>BB-Fifth-floor</td>
              <td><a href="{% url 'boulogne_details' %}"><p class="card-text">Fifth-floor</p></a></td>
              <td>
                  <img width="30" height="30" src="https://img.icons8.com/material-outlined/24/filled-trash.png" alt="filled-trash"/> &nbsp;&nbsp;
                  <img width="30" height="30" src="https://img.icons8.com/ios/50/edit--v1.png" alt="edit--v1"/>
              </td>
            </tr>

            <tr>
              <th scope="row">9</th>
              <td>BB-Sixth-floor</td>
              <td><a href="{% url 'boulogne_details' %}"><p class="card-text">Sixth-floor</p></a></td>
              <td>
                  <img width="30" height="30" src="https://img.icons8.com/material-outlined/24/filled-trash.png" alt="filled-trash"/> &nbsp;&nbsp;
                  <img width="30" height="30" src="https://img.icons8.com/ios/50/edit--v1.png" alt="edit--v1"/>
              </td>
            </tr>
            <!-- Add more rows for Boulogne -->

          </tbody>
        </table>

        <!-- Form to add a new Boulogne floor -->
        <form id="add-form" style="display: none;">
            <label for="Boulogne_Floor_Name">Boulogne Floor Name </label><br>
            <input type="text" id="Boulogne_Floor_Name" name="Boulogne_floor_name" placeholder="Boulogne Floor Name"><br><br>

            <label for="link">Link:</label><br>
            <input type="text" id="link" name="link" placeholder="Link"><br><br>

            <button type="submit" class="btn btn-success">Add</button>
        </form>

    </section>

    {% include 'footer.html' %}

    <!-- JavaScript to display the form -->
    <script>
        function showAddForm() {
            document.getElementById("add-form").style.display = "block";
        }
    </script>

</body>
</html>