<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boulogne Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<style>
    .card {
        margin-right: 20px;
    }
</style>
<body>

    {% include 'menu.html' %}

    <main class="container p-3 m-auto">
        <div class="row mt-3">
            <!-- Basement -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_-2H1fD4bAa6Dg4evibHNqlMQL6z0D-VQOw&usqp=CAU" alt="Campus Image">
                    <div class="card-body">
                        <a href="{% url 'boulogne' %}"><p class="card-text">Basement</p></a>
                    </div>
                </div>
            </div>
            <!-- Ground-floor -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_-2H1fD4bAa6Dg4evibHNqlMQL6z0D-VQOw&usqp=CAU" alt="Campus Image">
                    <div class="card-body">
                        <a href="{% url 'boulogne' %}"><p class="card-text">Ground-floor</p></a>
                    </div>
                </div>
            </div>
            <!-- First-floor -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_-2H1fD4bAa6Dg4evibHNqlMQL6z0D-VQOw&usqp=CAU" alt="Campus Image">
                    <div class="card-body">
                        <a href="{% url 'boulogne' %}"><p class="card-text">First-floor</p></a>
                    </div>
                </div>
            </div>
            <!-- Second-floor -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_-2H1fD4bAa6Dg4evibHNqlMQL6z0D-VQOw&usqp=CAU" alt="Campus Image">
                    <div class="card-body">
                        <a href="{% url 'boulogne' %}"><p class="card-text">Second-floor</p></a>
                    </div>
                </div>
            </div>
            <!-- Third-floor -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_-2H1fD4bAa6Dg4evibHNqlMQL6z0D-VQOw&usqp=CAU" alt="Campus Image">
                    <div class="card-body">
                        <a href="{% url 'boulogne' %}"><p class="card-text">Third-floor</p></a>
                    </div>
                </div>
            </div>
            <!-- Fourth-floor -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_-2H1fD4bAa6Dg4evibHNqlMQL6z0D-VQOw&usqp=CAU" alt="Campus Image">
                    <div class="card-body">
                        <a href="{% url 'boulogne' %}"><p class="card-text">Fourth-floor</p></a>
                    </div>
                </div>
            </div>
            <!-- Fifth-floor -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_-2H1fD4bAa6Dg4evibHNqlMQL6z0D-VQOw&usqp=CAU" alt="Campus Image">
                    <div class="card-body">
                        <a href="{% url 'boulogne' %}"><p class="card-text">Fifth-floor</p></a>
                    </div>
                </div>
            </div>
            <!-- Sixth-floor -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_-2H1fD4bAa6Dg4evibHNqlMQL6z0D-VQOw&usqp=CAU" alt="Campus Image">
                    <div class="card-body">
                        <a href="{% url 'boulogne' %}"><p class="card-text">Sixth-floor</p></a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include 'footer.html' %}

</body>
</html>